<html>
<head>
    {% load static %}
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="en-us" http-equiv="Content-Language">
<link rel="canonical" href="http://oread.pw/">
    <script src="https://kit.fontawesome.com/097e856c0f.js" crossorigin="anonymous"></script>
<title>Oread</title>
</head>

<body style= 'visibility: hidden;' >

        {% block content %}
 <!-- Content Goes here -->
        {% endblock content %}

<script>
let domReady = (cb) => {
  document.readyState === 'interactive' || document.readyState === 'complete'
    ? cb()
    : document.addEventListener('DOMContentLoaded', cb);
};

domReady(() => {
  document.body.style.visibility = 'visible';
});
</script>

</body>
</html>