{% extends "base.html" %}
{% block content %}
{% load static %}
<h1>Lists of URLs that you sent</h1>
{% if data %}
{% for date, content in data.items %}
    <p>##{{ date }}</p>
    <ul>
    {% if content.items %}
        {% for url,textlist in content.items %}
            {% if textlist %}
                <li>- [ {{ textlist.0 | safe }} ]({{ url }}) </li>
            {% else %}
                <li>- [{{ url }}]({{ url }})</li>
            {% endif %}
            {% for text in textlist%}
                {% if not textlist.0 == text %}
                <ul>
                    <li> - {{ text | safe }}</li>
                </ul>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    </ul>

{% endfor %}
{% endif %}

{% endblock %}

